<template>
    <div class="card w-48 mx-2 my-3">
        <div class="rounded-md bg-gray-200 p-4">
            <img v-if="book.url_image" class="w-full" :src="book.url_image" />
            <img
                v-else
                class="w-full"
                src="http://icons.iconarchive.com/icons/paomedia/small-n-flat/1024/book-icon.png"
            />
        </div>
        <button
            @click="open = true"
            class="text-lg block mx-auto text-center hover:underline cursor-pointer"
        >
            {{ book.name }}
        </button>
    </div>
    <Modal
        :open="open"
        :title="book.name"
        :bookId="book.id"
        @on-close="open = false"
        @on-success="emitSuccess()"
    />
</template>

<script>
import Modal from "./ModalDeleteCard.vue";
import { ref } from "vue";
export default {
    props: ["book"],
    emits: ["on-success"],
    components: {
        Modal,
    },
    setup() {
        const open = ref(false);
        return { open };
    },
    methods: {
        emitSuccess() {
            this.$emit("on-success");
        },
    },
};
</script>