<template>
    <div class="card w-48 mx-2 my-3">
        <div class="rounded-md bg-gray-200 p-4">
            <img
                v-if="author.url_image"
                class="w-full"
                :src="author.url_image"
            />
            <img
                v-else
                class="w-full"
                src="https://t3.ftcdn.net/jpg/00/64/67/52/240_F_64675209_7ve2XQANuzuHjMZXP3aIYIpsDKEbF5dD.jpg"
            />
        </div>
        <router-link
            :to="`/author/${author.id}`"
            class="text-lg block text-center hover:underline cursor-pointer"
            >{{ author.name }}
        </router-link>
    </div>
</template>

<script>
export default {
    props: ["author"],
    setup() {},
};
</script>