<template>
    <TransitionRoot as="template" :show="open">
        <Dialog
            as="div"
            static
            class="fixed z-10 inset-0 overflow-y-auto"
            @close="isClose()"
            :open="open"
        >
            <div
                class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0"
            >
                <TransitionChild
                    as="template"
                    enter="ease-out duration-300"
                    enter-from="opacity-0"
                    enter-to="opacity-100"
                    leave="ease-in duration-200"
                    leave-from="opacity-100"
                    leave-to="opacity-0"
                >
                    <DialogOverlay
                        class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"
                    />
                </TransitionChild>

                <!-- This element is to trick the browser into centering the modal contents. -->
                <span
                    class="hidden sm:inline-block sm:align-middle sm:h-screen"
                    aria-hidden="true"
                    >&#8203;</span
                >
                <TransitionChild
                    as="template"
                    enter="ease-out duration-300"
                    enter-from="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
                    enter-to="opacity-100 translate-y-0 sm:scale-100"
                    leave="ease-in duration-200"
                    leave-from="opacity-100 translate-y-0 sm:scale-100"
                    leave-to="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
                >
                    <div
                        class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full"
                    >
                        <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                            <div class="sm:flex sm:items-start">
                                <div
                                    class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left"
                                >
                                    <DialogTitle
                                        as="h3"
                                        class="text-lg leading-6 font-medium text-gray-900"
                                    >
                                        Tambah Penulis
                                    </DialogTitle>
                                    <div class="mt-2">
                                        <label
                                            for="title"
                                            class="text-sm text-gray-400 px-2"
                                            >Name</label
                                        >
                                        <input
                                            id="title"
                                            v-model="author.name"
                                            class="text-base rounded-full border px-4 py-2 w-full mb-2 focus:outline-none"
                                            type="text"
                                            placeholder="Name"
                                        />
                                        <label
                                            for="about"
                                            class="text-sm text-gray-400 px-2"
                                            >About</label
                                        >
                                        <input
                                            id="about"
                                            v-model="author.about"
                                            class="text-base rounded-full border px-4 py-2 w-full mb-2 focus:outline-none"
                                            type="text"
                                            placeholder="About"
                                        />
                                        <label
                                            for="instagram"
                                            class="text-sm text-gray-400 px-2"
                                            >Instagram</label
                                        >
                                        <input
                                            id="instagram"
                                            v-model="author.instagram"
                                            class="text-base rounded-full border px-4 py-2 w-full mb-2 focus:outline-none"
                                            type="text"
                                            placeholder="Name"
                                        />
                                        <label
                                            for="url"
                                            class="text-sm text-gray-400 px-2"
                                            >Foto URL</label
                                        >
                                        <input
                                            id="url"
                                            v-model="author.url_image"
                                            class="text-base rounded-full border px-4 py-2 w-full mb-2 focus:outline-none"
                                            type="url"
                                            placeholder="Foto URL"
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div
                            class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse"
                        >
                            <button
                                type="button"
                                class="w-full inline-flex justify-center rounded-full border border-transparent shadow-sm px-4 py-2 bg-gray-800 hover:bg-gray-900 text-base font-medium text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 sm:ml-3 sm:w-auto sm:text-sm"
                                @click="submitForm()"
                            >
                                Save
                            </button>
                            <button
                                type="button"
                                class="mt-3 w-full inline-flex justify-center rounded-full border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm"
                                @click="isClose()"
                                ref="cancelButtonRef"
                            >
                                Cancel
                            </button>
                        </div>
                    </div>
                </TransitionChild>
            </div>
        </Dialog>
    </TransitionRoot>
</template>

<script>
import {
    Dialog,
    DialogOverlay,
    DialogTitle,
    TransitionChild,
    TransitionRoot,
} from "@headlessui/vue";

import { reactive } from "vue";
import axios from "axios";

export default {
    props: {
        open: Boolean,
    },
    components: {
        Dialog,
        DialogOverlay,
        DialogTitle,
        TransitionChild,
        TransitionRoot,
    },
    setup() {
        const author = reactive({
            name: "",
            about: "",
            instagram: "@",
            url_image: null,
        });
        return {
            author,
        };
    },
    methods: {
        isClose() {
            this.$emit("on-close");
        },
        submitForm() {
            const data = {
                name: this.author.name,
                about: this.author.about,
                instagram: this.author.instagram,
            };

            if (this.author.url_image) {
                data.url_image = this.author.url_image;
            }

            axios
                .post("/api/authors", data)
                .then((res) => {
                    this.$emit("on-success");
                    this.clearForm();
                })
                .catch((err) => {
                    console.log(err.message);
                });

            this.$emit("on-close");
        },
        clearForm() {
            this.author.name = "";
            this.author.about = "";
            this.author.instagram = "@";
            this.author.url_image = null;
        },
    },
};
</script>