<template>
    <TransitionRoot as="template" :show="open">
        <Dialog
            as="div"
            static
            class="fixed z-10 inset-0 overflow-y-auto"
            @close="isClose()"
            :open="open"
        >
            <div
                class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0"
            >
                <TransitionChild
                    as="template"
                    enter="ease-out duration-300"
                    enter-from="opacity-0"
                    enter-to="opacity-100"
                    leave="ease-in duration-200"
                    leave-from="opacity-100"
                    leave-to="opacity-0"
                >
                    <DialogOverlay
                        class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"
                    />
                </TransitionChild>

                <!-- This element is to trick the browser into centering the modal contents. -->
                <span
                    class="hidden sm:inline-block sm:align-middle sm:h-screen"
                    aria-hidden="true"
                    >&#8203;</span
                >
                <TransitionChild
                    as="template"
                    enter="ease-out duration-300"
                    enter-from="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
                    enter-to="opacity-100 translate-y-0 sm:scale-100"
                    leave="ease-in duration-200"
                    leave-from="opacity-100 translate-y-0 sm:scale-100"
                    leave-to="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
                >
                    <div
                        class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full"
                    >
                        <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                            <div class="sm:flex sm:items-start">
                                <div
                                    class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left"
                                >
                                    <DialogTitle
                                        as="h3"
                                        class="text-lg leading-6 font-medium text-gray-900"
                                    >
                                        Tambah Buku
                                    </DialogTitle>
                                    <div class="mt-2">
                                        <label
                                            for="title"
                                            class="text-sm text-gray-400 px-2"
                                            >Title</label
                                        >
                                        <input
                                            id="title"
                                            v-model="book.name"
                                            class="text-base rounded-full border px-4 py-2 w-full mb-2 focus:outline-none"
                                            type="text"
                                            placeholder="Title"
                                        />
                                        <label
                                            for="author"
                                            class="text-sm text-gray-400 px-2"
                                            >Penulis</label
                                        >
                                        <select
                                            id="author"
                                            v-model="book.author_id"
                                            class="text-base rounded-full bg-transparent border px-4 py-2 w-full mb-2 focus:outline-none"
                                            placeholder="Penulis"
                                        >
                                            <option
                                                v-for="author in authors"
                                                :key="author.id"
                                                :value="author.id"
                                            >
                                                {{ author.name }}
                                            </option>
                                        </select>
                                        <label
                                            for="category"
                                            class="text-sm text-gray-400 px-2"
                                            >Kategory</label
                                        >
                                        <select
                                            id="category"
                                            v-model="book.category_id"
                                            class="text-base rounded-full bg-transparent border px-4 py-2 w-full mb-2 focus:outline-none"
                                            placeholder="Kategori"
                                        >
                                            <option
                                                v-for="category in categories"
                                                :key="category.id"
                                                :value="category.id"
                                            >
                                                {{ category.name }}
                                            </option>
                                        </select>
                                        <label
                                            for="year"
                                            class="text-sm text-gray-400 px-2"
                                            >Tahun</label
                                        >
                                        <input
                                            id="year"
                                            v-model="book.year"
                                            class="text-base rounded-full border px-4 py-2 w-full mb-2 focus:outline-none"
                                            type="number"
                                            placeholder="Tahun Terbit"
                                        />
                                        <label
                                            for="url"
                                            class="text-sm text-gray-400 px-2"
                                            >Sampul URL</label
                                        >
                                        <input
                                            id="url"
                                            v-model="book.url_image"
                                            class="text-base rounded-full border px-4 py-2 w-full mb-2 focus:outline-none"
                                            type="url"
                                            placeholder="Sampul URL"
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div
                            class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse"
                        >
                            <button
                                type="button"
                                class="w-full inline-flex justify-center rounded-full border border-transparent shadow-sm px-4 py-2 bg-gray-800 hover:bg-gray-900 text-base font-medium text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 sm:ml-3 sm:w-auto sm:text-sm"
                                @click="submitForm()"
                            >
                                Save
                            </button>
                            <button
                                type="button"
                                class="mt-3 w-full inline-flex justify-center rounded-full border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm"
                                @click="isClose()"
                                ref="cancelButtonRef"
                            >
                                Cancel
                            </button>
                        </div>
                    </div>
                </TransitionChild>
            </div>
        </Dialog>
    </TransitionRoot>
</template>

<script>
import {
    Dialog,
    DialogOverlay,
    DialogTitle,
    TransitionChild,
    TransitionRoot,
} from "@headlessui/vue";

import { reactive, ref } from "vue";
import axios from "axios";

export default {
    props: {
        open: Boolean,
    },
    components: {
        Dialog,
        DialogOverlay,
        DialogTitle,
        TransitionChild,
        TransitionRoot,
    },
    setup() {
        const book = reactive({
            name: "",
            author_id: 0,
            category_id: 0,
            year: 0,
            url_image: null,
        });

        const authors = ref([]);
        const categories = ref([]);

        const getAuthors = () => {
            axios
                .get("/api/authors")
                .then((res) => {
                    authors.value = res.data.data;
                })
                .catch((err) => {
                    console.log(err.message);
                });
        };
        const getCategories = () => {
            axios
                .get("/api/categories")
                .then((res) => {
                    categories.value = res.data.data;
                })
                .catch((err) => {
                    console.log(err.message);
                });
        };

        getAuthors();
        getCategories();

        return {
            book,
            authors,
            categories,
        };
    },
    methods: {
        isClose() {
            this.$emit("on-close");
        },
        submitForm() {
            const data = {
                author_id: parseInt(this.book.author_id),
                category_id: parseInt(this.book.category_id),
                name: this.book.name,
                year: parseInt(this.book.year),
            };

            if (this.book.url_image) {
                data.url_image = this.book.url_image;
            }

            axios
                .post("/api/books", data)
                .then((res) => {
                    this.$emit("on-success");
                    this.clearForm();
                })
                .catch((err) => {
                    console.log(err.message);
                });

            this.$emit("on-close");
        },
        clearForm() {
            this.book.name = "";
            this.book.author_id = 0;
            this.book.category_id = 0;
            this.book.year = 0;
            this.book.url_image = null;
        },
    },
};
</script>