<template>
    <div class="sidebar bg-gray-100 px-5">
        <img class="pt-5 w-40" src="../assets/logo.png" />
        <div class="link px-5 py-4 mt-4">
            <router-link
                class="block px-5 py-4 text-gray-400 font-medium"
                to="/"
                >Explore</router-link
            >
        </div>

        <div class="link px-5 py-4">
            <router-link
                class="block px-5 py-4 text-gray-400 font-medium"
                to="/category"
                >Categories</router-link
            >
        </div>

        <div class="link px-5 py-4">
            <router-link
                class="block px-5 py-4 text-gray-400 font-medium"
                to="/author"
                >Author</router-link
            >
        </div>
    </div>
</template>

<style>
.sidebar .link a.router-link-exact-active {
    color: #35509e;
}
</style>