<template>
    <section class="flex justify-between pt-5">
        <h1 class="text-4xl font-bold header-title">Authors</h1>
        <button
            @click="open = !open"
            class="bg-gray-800 hover:bg-gray-900 focus:outline-none text-white px-4 py-3 rounded-full text-sm mr-10 shadow-lg"
        >
            Tambah Penulis
        </button>
    </section>
    <section class="mt-4">
        <div class="flex flex-wrap mt-8">
            <CardAuthor
                v-for="author in authors"
                :key="author.id"
                :author="author"
            />
        </div>
    </section>
    <Modal :open="open" @on-close="open = false" @on-success="getAuthors()" />
</template>


<script>
import CardAuthor from "../components/CardAuthor.vue";
import Modal from "../components/ModalAuthor.vue";
import { ref } from "vue";
import axios from "axios";
export default {
    setup() {
        const authors = ref([]);
        const open = ref(false);

        const getAuthors = () => {
            axios.get("/api/authors").then((res) => {
                authors.value = res.data.data;
            });
        };

        getAuthors();

        return {
            authors,
            open,
            getAuthors,
        };
    },
    components: {
        CardAuthor,
        Modal,
    },
};
</script>