<template>
    <section class="flex justify-between pt-5">
        <h1 class="text-4xl font-bold header-title">Categories</h1>
        <button
            @click="open = !open"
            class="bg-gray-800 hover:bg-gray-900 focus:outline-none text-white px-4 py-3 rounded-full text-sm mr-10 shadow-lg"
        >
            Tambah Kategori
        </button>
    </section>
    <section class="mt-4" v-for="category in categories" :key="category.id">
        <h2 class="text-2xl text-popular">{{ category.name }}</h2>
        <div class="flex flex-wrap mt-8">
            <Card v-for="book in category.books" :key="book.id" :book="book" />
        </div>
    </section>
    <Modal
        :open="open"
        @on-close="open = false"
        @on-success="getCategories()"
    />
</template>


<script>
import Card from "../components/Card.vue";
import Modal from "../components/ModalCategory.vue";
import { ref } from "vue";
import axios from "axios";
export default {
    setup() {
        const categories = ref([]);
        const open = ref(false);

        const getCategories = () => {
            axios.get("/api/categories").then((res) => {
                categories.value = res.data.data;
            });
        };

        getCategories();

        return {
            categories,
            getCategories,
            open,
        };
    },
    components: {
        Card,
        Modal,
    },
};
</script>